<div class="page-top">
    <button id="delete-completed-btn" class="main-page-btn" (click)="onDeleteAllCompleted()">
        delete completed activities
    </button>

    <form class="search" (submit)="onSubmit($event)">
            <div id="search-icon-overlay">
                <img
                    src="/SearchIcon.svg"
                    width="35"
                    height="35"
                    alt="search icon"
                />
            </div>
        <input type="search" id="search-content" placeholder="search by title..." [formField]="this.searchForm.word">
        <button type="submit">Search</button>
    </form>

    <button id="create-activity-btn" class="main-page-btn" (click)="onNewActivity()">
        <span>+</span> activity
    </button>
</div>

@if (settingsPopUp()) {
    <app-activity-settings [pageFunc]="settingsMode()" [activityData]="currActData()" (hasTerminated)="onSettingsTerm($event)"></app-activity-settings>
}

<div class="activity-container">
    <ul>
        @for (activity of activitiesToDisplay(); track activity.id) {
            <li class="activity-item">
                <div class="act-item-top">
                    <p class="title">
                        {{ activity.title }}
                    </p>
                    <p class="pomo-counter">
                        {{ `${activity.currentPomos}/${activity.pomoCounter} ` + (activity.currentPomos === activity.pomoCounter ? 'completed!' : '') }}
                    </p>
                </div>
                <p class="description">
                    {{renderDescription(activity.description)}}
                </p>
                <div class="act-item-down">
                    <button class="edit-activity" (click)="onEdit(activity.id)">
                        EDIT
                    </button>
                    <button class="delete-activity" (click)="onDelete(activity.id)">
                        DELETE
                    </button>
                </div>
            </li>
        }
    </ul>

    @if (activitiesToDisplay().length === 0) {
        @if (onSearch()) {
            <div id="err-img-wrapper">
                <img 
                    id="no-deck-cards"
                    src="/unhappy-result.svg"
                    width="200"
                    height="200"
                    alt="big lens with an unhappy face inside it"
                />
            </div>
        }@else {
            <img 
                id="empty-container"
                src="/task-list.svg"
                width="200"
                height="200"
                alt="task list image"
            />
        }
        <p id="empty-list-message">{{ emptyActivitiesMessage() }}</p>
    }
</div>