button.failed{
    background-color: red;
}

h2{
    position: absolute;
    margin: 0;
    top: 30px;
    width: 1200px;
    text-align: center;
    font-size: 50px;

}

.pop-up-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 100px;
}

.log-in-content{
    display: grid;
    grid-template-columns: 510px 510px;
    justify-content: center;
    height: 460px;
}

/* first grid column */ 
.log-in-content div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.log-in-content form > *{
    display: block;
}

#form-access-phrase{
    margin-top: 50px;
    font-size: 25px;
}

label{
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 5px;
}

input{
    margin-top: 5px;
    margin-bottom: 15px;
    height: 35px;
    width: 450px;
    border: none;
    border-radius: 10px;
}

form button{
    margin-top: 30px;
    margin-inline: auto;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 400;
    color: white;
    background-color: #4091C9;
    cursor: pointer;
}

form button:hover{
    background-color: #3981b5;
    transition-duration: 300ms;
}

img{
    margin: auto;
}

form + p{
    font-size: small;
    text-align: center;
}

form + p a{
    color: #0000EE;
    text-decoration: none;
}

form + p a:hover{
    color: #00009c;
    text-decoration: underline;
    transition-duration: 500ms;
}