<div class="study-zone-top">
    <form class="search" (submit)="onSubmit($event)">
        <div id="search-icon-overlay">
            <img
                src="/SearchIcon.svg"
                width="35"
                height="35"
                alt="search icon"
            />
        </div>
        <select id="select-layout" [formField]="this.searchForm.layout">
            <option value="">all</option>
            <option value="general">general</option>
            <option value="quiz">quiz</option>
            <option value="true-false">true-false</option>
            <option value="double-sided">double-sided</option>
        </select>
        <input type="search" id="search-content" placeholder="search a deck here" [formField]="this.searchForm.word">
        <button type="submit">Search</button>
    </form>

    <button class="main-page-btn" (click)="onNewDeck()">
        <span>+</span> deck
    </button>
</div>


@if (deckPopUp()) {
    <app-deck-settings [pageFunc]="pageFunc()" [deckId]="deckId()" (hasTerminated)="onClose($event)"></app-deck-settings>
}
<ul class="deck-container">
    @for (deckItem of decksToDisplay(); track deckItem.id) {
        <li class="deck-item">
            <button class="edit-deck" (click)="onEdit(deckItem.id)">
                Edit
            </button>
            <p class="item-title">
                {{ deckItem.title }}
            </p>
            <p class="item-layout">
                {{ deckItem.layout }}
            </p>
            <div>
                <button class="study-deck" [disabled]="deckItem.learnDisabled" [routerLink]="['learn', deckItem.id]">
                STUDY
                </button>
                <button class="open-deck" [routerLink]="['deck', deckItem.id]">
                    OPEN
                </button>
            </div>
        </li>
    }
    @if(decksToDisplay().length === 0){
        <div id="err-img-wrapper">
            <img
                src="/unhappy-result.svg"
                width="200"
                height="200"
            />
        </div>
        <p id="empty-list-message">{{ emptyDecksMessage() }}</p>
    }
</ul>